APP_NAME=MediaHub Downloader
APP_ENV=development
DEV_MODE=true
SESSION_FILE=session.txt

SUPABASE_URL=
SUPABASE_KEY=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_PRICE_ID=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
