Package: mediahub-downloader
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: MediaHub Team <support@example.com>
Description: MediaHub desktop downloader GUI
 Depends: ffmpeg
